In [1]:
import numpy as np
from vector_semantics import TDMatrix, TF_IDF_Matrix, WordMatrix

In [2]:
documents = [["have", "a", "wonderful", "terrific", "and", "brilliant", "day"],
             ["have", "a", "terrible", "awful", "and", "horrible", "day"]]

doc_names = ["positive","negative"]

In [3]:
vocab = [w for d in documents for w in d]

In [4]:
print(vocab)

['have', 'a', 'wonderful', 'terrific', 'and', 'brilliant', 'day', 'have', 'a', 'terrible', 'awful', 'and', 'horrible', 'day']

In [5]:
term_doc = TDMatrix(documents,doc_names)
term_doc_matrix = term_doc.term_document_matrix()
term_doc_matrix

           positive  negative
horrible          0         1
terrible          0         1
terrific          1         0
a                 1         1
have              1         1
brilliant         1         0
awful             0         1
day               1         1
and               1         1
wonderful         1         0

In [6]:
tf_idf = TF_IDF_Matrix(documents,doc_names)
tf_idf_matrix = tf_idf.tf_idf_matrix()
tf_idf_matrix = tf_idf_matrix.round(3)
tf_idf_matrix

           positive  negative
horrible      0.000     0.091
terrible      0.000     0.091
terrific      0.091     0.000
a             0.000     0.000
have          0.000     0.000
brilliant     0.091     0.000
awful         0.000     0.091
day           0.000     0.000
and           0.000     0.000
wonderful     0.091     0.000

In [5]:
word = WordMatrix(documents[0],doc_names[0], 7)
word_mat = word.word_matrix()
word_mat

           wonderful    a  and  have  brilliant  terrific  day
wonderful        0.0  1.0  1.0   1.0        1.0       1.0  1.0
a                1.0  0.0  1.0   1.0        1.0       1.0  1.0
and              1.0  1.0  0.0   1.0        1.0       1.0  1.0
have             1.0  1.0  1.0   0.0        1.0       1.0  1.0
brilliant        1.0  1.0  1.0   1.0        0.0       1.0  1.0
terrific         1.0  1.0  1.0   1.0        1.0       0.0  1.0
day              1.0  1.0  1.0   1.0        1.0       1.0  0.0