In [1]:
import numpy as np
from vector_semantics import TDMatrix, TF_IDF_Matrix, WordMatrix
from itertools import chain

In [2]:
documents = [["have", "a", "wonderful", "terrific", "and", "brilliant", "day"],
             ["have", "a", "terrible", "awful", "and", "horrible", "day"]]

doc_names = ["positive","negative"]

In [3]:
term_doc = TDMatrix(documents,doc_names)
term_doc_matrix = term_doc.term_document_matrix()
term_doc_matrix

           positive  negative
brilliant       1.0       0.0
awful           0.0       1.0
wonderful       1.0       0.0
day             1.0       1.0
horrible        0.0       1.0
and             1.0       1.0
have            1.0       1.0
a               1.0       1.0
terrific        1.0       0.0
terrible        0.0       1.0

In [4]:
tf_idf = TF_IDF_Matrix(documents,doc_names)
tf_idf_matrix = tf_idf.tf_idf_matrix()
tf_idf_matrix = tf_idf_matrix.round(3)
tf_idf_matrix

           positive  negative
brilliant     0.091     0.000
awful         0.000     0.091
wonderful     0.091     0.000
day           0.000     0.000
horrible      0.000     0.091
and           0.000     0.000
have          0.000     0.000
a             0.000     0.000
terrific      0.091     0.000
terrible      0.000     0.091

In [5]:
word = WordMatrix(documents[0],doc_names[0], 6)
word_mat = word.word_matrix()
word_mat

           brilliant  wonderful  day  and  have    a  terrific
brilliant        0.0        1.0  1.0  1.0   1.0  1.0       1.0
wonderful        1.0        0.0  1.0  1.0   1.0  1.0       1.0
day              1.0        1.0  0.0  1.0   1.0  1.0       1.0
and              1.0        1.0  1.0  0.0   1.0  1.0       1.0
have             1.0        1.0  1.0  1.0   0.0  1.0       1.0
a                1.0        1.0  1.0  1.0   1.0  0.0       1.0
terrific         1.0        1.0  1.0  1.0   1.0  1.0       0.0

## Calculate cosine similarities

In [ ]:
arr = term_doc_matrix.to_numpy()

pos = arr[:,0]
neg = arr[:,1]

cos_sim = sum(pos*neg)/(len(pos)*len(neg))

print(cos_sim)

In [ ]:
arr_tf_idf = tf_idf_matrix.to_numpy()

pos_tf_idf = arr_tf_idf[:,0]
neg_tf_idf = arr_tf_idf[:,1]

cos_sim = sum(pos_tf_idf*neg_tf_idf)/(len(pos_tf_idf)*len(neg_tf_idf))

print(cos_sim)